/* Juris Styles
https://github.com/KonstantinSolutions/juris-branding/tree/master/SCSS
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

@import '../node_modules/juris-branding/SCSS/colors.scss';
@import '../node_modules/juris-branding/SCSS/fonts.scss';