@import './bootstrap';

#root {
    &>div {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

.content {
    display: flex;

    &>div[tabindex="-1"] {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.creator-nav {
    .nav-item {
        &.active {
            background: $black;
        }
    }
}