@import '../variables';

#jb-footer {
    background: $black;
    color: $white;
    padding: $global-padding;
}

#jb-header,
#jb-footer {
    display: none;

    &.show {
        display: flex;
    }
}